# Arquivo de documentação pessoal (não vai pro repositório)
.developer

# Build e artefatos
app/build/
build/
*.apk
*.aab

# Android Studio
.idea/
*.iml
local.properties
.gradle/
captures/
.externalNativeBuild/
.cxx/

# Keystore de release (nunca commitar!)
*.jks
*.keystore
keystore.properties

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
